#repairPic {
  margin-top: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.content {
  background-color: black;
}

.contentInside {
  padding-top: 20px;
  padding-bottom: 20px;
}

#about {
  margin-right: 50px;
}
